################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/bin
/.vs/Semestr I/v16
/Semestr I/Semestr I.vcxproj.user
/Semestr I/Semestr I.vcxproj.filters
/Semestr I/Semestr I.vcxproj
/Semestr I/baza.txt
/Semestr I.sln
